<app-parallax-section #parallaxSection>
  <div static-background>
    <div
      class="text-[5rem] text-wrap break-all opacity-5 text-[var(--text-color)]"
    >
      {{ code }}
    </div>
  </div>

  <div scrolling-content>
    <div class="mx-auto w-[50%]">
      <h1 class="text-[7rem] m-0 leading-25 font-bold emphasis-text">
        <span class="emphasis">Software Engineer</span> by trade, I build
        enterprise scale applications for work.
      </h1>
    </div>

    <!-- Train -->
    <div class="absolute bottom-0 flex items-end">
      <img
        src="train.png"
        class="h-[120px] scale-[200%] relative bottom-[50px] transition-transform duration-500"
        [ngStyle]="{ left: computedTrainLeftOffset + 'px' }"
      />
    </div>
  </div>
</app-parallax-section>

<!-- PARALLAX SECTION 2 -->'
<app-parallax-section>
  <div static-background>
    <div
      class="w-[90%] mx-auto flex flex-col pt-[100vh] justify-center items-end gap-10"
    >
      <app-fade-in-on-view>
        <p class="background-text">
          <span class="emphasis">Designing</span> Systems
        </p>
      </app-fade-in-on-view>
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Fixing</span> Bugs
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Reviewing</span> Code
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Testing</span> Software
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Deploying</span> Applications
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Automating</span> Tasks
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Integrating</span> Services
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Optimizing</span> Performance
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Managing</span> Databases
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Securing</span> Systems
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Documenting</span> Features
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Analyzing</span> Requirements
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Generating</span> Value
        </p></app-fade-in-on-view
      >
      <app-fade-in-on-view
        ><p class="background-text">
          <span class="emphasis">Simplifying</span> Lives
        </p></app-fade-in-on-view
      >
    </div>
  </div>
  <div scrolling-content class="w-full">
    <div class="w-full h-full flex items-center justify-start">
      <div class="mx-auto w-[90%]">
        <h1 class="text-[3rem] m-0 leading-15 font-bold w-[30%]">
          Being an engineer isn't just about writing code.
        </h1>
        <h1
          class="text-[5rem] mt-10 leading-20 font-bold w-[40%] emphasis-text"
        >
          It's about things that are
          <span class="emphasis">much greater</span>.
        </h1>
      </div>
    </div>
  </div>
</app-parallax-section>
<app-parallax-section>
  <div static-background></div>
  <div scrolling-content>
    <h1>
      Currently creating solutions and having a large impact at Turners
      Automotive Group.
    </h1>
    <h2>
      I currently have {{ yearsOfExperience }} software engineering experience.
    </h2>
    <p>Currently a generalist, I do both frontend and backend development</p>
  </div>
</app-parallax-section>
