/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

.light {
  --background-color: #f5f5f5;
  --text-color: rgb(22, 22, 22);
  --emphasis-color-bold: red;
}

.dark {
  --text-color: white;
  --background-color: #161616;
  --emphasis-color-bold: red;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}
